@font-face {
    font-family: "Roboto";
    src:
        local("Roboto Regular"),
        url("/assets/course73/roboto.woff") format("woff");
}

body {
  font-family: "Roboto";
  font-size: 16px;
  line-height:24px;
  color: #283136;

}

h1 {
  font-size: 45px;
  line-height: 45px;
  color: #283136;
}

footer h1 {
  font-size: 36px;
  line-height: 36px;
}
